

<div id="index-container">
	<% @users.each do |user| %>
		<div class="user-profile">
			<p><%= image_tag user.avatar(:thumb) %></p>
			<p><%= user.name %></p>
			<p><%= user.bio %></p>
		</div>
		<br />
	<% end %>
</div>


<%= link_to "New User", new_user_path %>

